html {
    background-color: white;
    color: #101010;
}

header {
    background-color: black;
    color: white;
}

.header-container {
    border: 1px solid black;
}

main {
    background-color: #f0f0f0;
}

main article {
    background-color: #f0f0f0;
}

.content {
    background-color: #f0f0f0;
}

h1,
h2,
h3 {
    color: black;
}

.banner-container {
    background: linear-gradient(to top, #f0f0f0ff, #f0f0f0ff, #f0f0f020, transparent, transparent, transparent);
}

.centerimg {
    border: 2px solid #a0a0a0;
}

a.nodecor {
    color: #101010;
}

.headlogo {
    border: 1px solid #303030;
}

.element {
    border: 1px #b2b2b2 solid;
    background-color: white;
}

.element:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.element img {
    background-color: #f0f0f0;
}

.element:hover img {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.element a {
    color: #101010;
}

.highlightsection:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .01);
}

.github-light {
    display: none;
}

.devsection {
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
}