html {
  overflow-x: hidden;
}

div.main {
  min-height: 100vh;
  padding-bottom: $footer-height;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.center-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.center-item-x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-item-2 {
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
}

.center-item-3 {
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
}

hr {
  border: 0;
  height: 1px;
  background-color: rgba(130, 130, 130, 0.75);
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

text-center {
  text-align: center;
}

.big {
  font-size: 10vw;
  @media (max-width: 800px) {
    font-size: 12vw;
    @media (max-width: 600px) {
      font-size: 13vw;
    }
  }
  @media (min-width: 2000px) {
    font-size: 6vw;
  }
}

.medium-big {
  font-size: 6vw;
}

.medium {
  font-size: 5vw;
  @media (max-width: 800px) {
    font-size: 7vw;
    @media (max-width: 600px) {
      font-size: 8vw;
    }
  }
  @media (min-width: 2000px) {
    font-size: 3vw;
  }
}
