.title-box {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Ranchers";
  color: white;
  font-size: 200%;
  @media (max-width: 800px) {
    font-size: 150%;
    @media (max-width: 600px) {
      font-size: 120%;
    }
  }
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  .title-head {
    font-size: 2.5em;
    -webkit-text-stroke-width: 0.04em;
  }
  .title-low {
    font-size: 1.2em;
    -webkit-text-stroke-width: 0.05em;
  }
}
