$header-background: #0c0c0c;
$footer-background: #0c0c0c;
$primary-background: #121212;
$text-color: #e8e8e8;
$text-prehover-color: #d0d0d0;
$text-disabled-color: #565656;
$hover-box: #202020;
$footer-border-top-color: black;
$footer-text-color: #9b9b9b;
$blue-link-color: #007bff;
$footer-top-height: 128px;
$footer-bottom-height: 40px;
$header-height: 40px;
$footer-github-width: 100px;
$footer-bottom-background: $footer-background;
$footer-height: $footer-top-height + $footer-bottom-height;
